.App {
  text-align: center;
  background-color: #282c34;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;

}

body, html {
  height: 100%;
}

.logo-row {
  padding-top: 80px;
}

.App-logo {
  height: 4vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  max-height: 100vh;
  flex-direction: column;
}

.App-welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 4vmin);
  color: white;
  padding-top: 7%;
}
.App-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 5%;
}

.App-button-row {
  padding-top: 5%;
  justify-content: center;
  align-items: center;

}

.App-button {
  padding-left: 5%;
  padding-right: 5%;
}

.form {
  max-width: 500px;
}
.inform {
  /*max-width: 50%;*/
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}